@font-face{
  font-family: Montserrat-Thin;
  src:url(../Fonts/Montserrat-Thin.ttf)
}


@font-face{
  font-family: Montserrat-Regular;
  src:url(../Fonts/Montserrat-Regular.ttf)
}

@font-face{
  font-family: Montserrat-Bold;
  src:url(../Fonts/Montserrat-Bold.ttf)
}

*{
  font-family: Montserrat-Regular;
}

.gallery { 
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
    background-color: #e3e3e3;
    }

  .gallery img {
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
    max-width: 100%;
  }

  #about{
    height:570px;
    display:flex;
    position: relative;
    justify-content:center;
    align-items: center;
  }

  #about .about-logo{
    border-radius: 100%;
    max-height:322px;
    max-width:322px;
  }

  .about-content p:nth-child(2){
    margin-bottom:55px;
  }

  .about-content button{
    width: 39px;
    height: 39px;
    border-radius: 12px;
    background-color: #ff7f00;
    border:0px;
  }

  .social-links{
    display: flex;
  }

  .social-links button:not(:first-child){
    margin-left:10px;
  }

  .social-links img{
    object-fit: contain;
    width:100%;
  }

  .about-info{
    display:flex;
    align-items: center;
    justify-content:center;
    margin-bottom: 45px;
  }

  .canvas-container{
      display:none;
      max-height:550px;
      max-width:540px;
  }

  .navbar .logo{
      width: 133px;
      height: 22px;
      object-fit: contain;
      margin-left:50px;
  }

  .about-content p:first-child{
    font-family: Montserrat-Bold;
  }

  .about-content{
    margin-left:40px;
    display:flex;
    flex-direction:column;
    max-height:140px;
    max-width:500px;
    justify-content: center;
    align-items:center;
  }

  .navbar{
    background-color: #ff7f00;
    height: 66px;
    width:100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    font-size: 19px;
    color:white;
  }

  .navbar .gallery-link{
    margin-right: 30px;
  }

  .navbar a{
    text-decoration: none;
    color:white;
  }

  .navbar ul *:hover{
    color:#040a2c;
  }
  .navbar ul *{
    padding-top:24px;
    padding-bottom:24px;
  }
  
  .navbar>ul{
    display:flex;
    margin-right: 60px;
    align-items: center;
    list-style-type:none;
  }

  footer{
      display:flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      height:207px;
      font-size: 19px;
      font-weight: 100;
      color: white;
      background-color: #ff7f00;
    }

    footer p{
      font-family: Montserrat-Thin;
    }

    body{
      display:flex;
      flex-direction: column;
      justify-content: space-between;
      min-height:100vh;
    }

    .tools{
      display:flex;
      flex-direction: column;
    }

    .tools .main-controls{
      display:grid;
      grid-template-areas:'text-line text-line text-line text-line text-line'
                          '. switch-lines add-line remove-line .' ;
      margin-bottom: 40px;
      grid-gap:11px;
    }

    .tools .other-controls{
      display:grid;
      grid-template-areas:'increase-font decrease-font'
                          'moving-up moving-down';
      justify-content: center;
      grid-gap:18px;
      margin-bottom:40px;
    }

    .tools button img{
      width:100%;
      object-fit: contain;
    }

    .tools button{
      width: 60px;
      height: 60px;
      border-radius: 12px;
      background-color: white;
    }

    .main-controls .text-line{
      width: 373px;
      height: 60px;
      border-radius: 12px;
      background-color: white;
      font-size:20px;
      font-family:Montserrat-Regular;
      grid-area: text-line;
    }

    .main-controls .switch-lines{
      grid-area:switch-lines;
    }

    .main-controls .add-line{
      grid-area:add-line;
    }

    .main-controls .remove-line{
      grid-area:remove-line;
    }

    .other-controls .increase-font{
      grid-area:increase-font;
    }

    .other-controls .decrease-font{
      grid-area:decrease-font;
    }

    .other-controls .moving-up{
      grid-area:moving-up;
    }

    .other-controls .moving-down{
      grid-area:moving-down;
    }

    .save-share-btns button{
      width: 120px;
      height: 60px;
      border-radius: 12px;
      background-color: #ff7f00;
      font-family: Montserrat;
      font-size: 20px;
      font-weight: 500;
      text-align: center;
      color: white;
    }

    .save-share-btns button a{
      text-decoration: none;
      color:white;
      font-size: 20px;
      font-weight: 500;
      text-align: center;
      font-family: Montserrat;
    }

    .save-share-btns{
      display:flex;
      align-items: center;
      justify-content: space-between;
    }

    .meme-section{
      display:flex;
      max-width:1020px;
      margin-bottom:23px;
      margin-top:26px;
      margin-left:51px;
      justify-content:space-between;
    }

    .meme-body{
      background-color: #e3e3e3;
      flex-grow:1;
    }

    .rectangle{
      background-color:#ffffff;
      border: solid 2.5px #e3e3e3;
      opacity: 0.43;
      z-index:1;
      position:absolute;
    }

    body button{
      border:0px;
    }
    

    @media (max-width:550px){

      .about-info{
        flex-direction: column;
      }
      .about-info *{
      margin:0px;
      }
      .about-logo{
        margin-bottom: 36px;
        width:157px;
        height:157px;
      }
      .about-content p:first-child{
        margin-bottom: 23px;
        color: #ff7f00;
        font-size: 22px;
      }
      .about-content p:nth-child(2){
        margin-bottom:14px;
        text-align: center;
      }
      .gallery { 
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
        }
        .navbar {
          flex-direction: column;
          position: fixed;
          right: 0;
          top: 0;
          height: 168px;
          background: #ff7f00;
          width: 350px;
          justify-content:center;
          align-content:flex-start;
      }

      .navbar .gallery-link{
        margin:0px;
        padding:0px;
      }

      .navbar ul a{
        margin:0px;
        padding:0px;
      }

      
      .navbar .logo{
        margin:0px;
        padding:0px;
      }
      
      .navbar ul{
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-content:flex-start;
      }

      .navbar li{
        display:block;
        width:100%;
        text-align:left;
    }
  }
